version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce
      MYSQL_USER: ecommerce_user
      MYSQL_PASSWORD: qwer1234
    ports:
      - "3306:3306"
    command: >  
     --default-authentication-plugin=mysql_native_password
     --bind-address=0.0.0.0
     --character-set-server=utf8mb4
     --collation-server=utf8mb4_unicode_ci
     --init-connect=SET NAMES utf8mb4


